  .sidebar-nav {
    margin-top: 20px;
    padding: 15px;
    list-style-type: square;
  }
  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: beige;
  }
 
  