{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Book: {{ book }}</h1>

{% if book.bookinstance_set.all %}

<p>You can't delete this book until all their book instances have been deleted:</p>
<ul>
  {% for bookinstance in book.bookinstance_set.all %}
    <li><a href="{{ bookinstance.get_absolute_url }}">{{bookinstance.id}}</a> (Imprint: {{bookinstance.imprint}})</li>
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete the book?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete.">
</form>
{% endif %}

{% endblock %}
